body {
  background-color: rgb(165, 239, 222);
     }
  article section div { 
  
  width:75%; 
  float: left;
     }

aside div {
   width: 24%;
   float: left;
  }

img {
  width: 100%;
  height: auto;
}
article section div img{
 width: 49%;
 height: auto;
}

ul{
}

li{
 font-size: 24px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

nav ul li {
  float: left;
  font-size: 24px;
}

li a {
  display: block;
  color: #0a0202fc;
  text-align: leaft;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #c80d0d;
}

li a.active {
  color: rgb(252, 245, 250);
  background-color: #04AA6D;
}
p {
  font-size: 24px;
  }
  footer div{
     text-align: center;
     float:none;
  }